@font-face {
  font-family: Montserrat;
  src: url(https://fonts.google.com/specimen/Montserrat); }
@font-face {
  font-family: Roboto;
  src: url(https://fonts.google.com/specimen/Roboto); }
html {
  scroll-behavior: smooth; }

body {
  font-family: Montserrat, Roboto; }

header {
  height: 100vh;
  background: url(/images/headerBackground.jpg);
  background-size: cover; }

nav {
  height: 100px; }
  nav ul {
    padding-top: 35px;
    padding-left: 35vh;
    display: inherit; }
  nav li {
    list-style: none;
    display: inline;
    padding: 15px; }
  nav a {
    text-decoration: none;
    color: #ffff; }
  nav a:hover {
    text-decoration: none; }

main {
  margin: 10vh 20vh; }

hr {
  border-top: 2px solid #FF4E50; }

.dreamshare-logo {
  font-family: Roboto;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1.5px; }

.drm-logo {
  padding-right: 30vh; }

.sign-up {
  border: 1px solid white;
  padding: 7px 20px;
  border-radius: 20px; }
  .sign-up a {
    padding: 10px 12px; }

.hero {
  width: 100%;
  color: #ffff;
  text-align: center;
  padding-top: 8%; }
  .hero h1 {
    text-transform: uppercase;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 2px; }
  .hero p {
    font-size: 22px;
    font-weight: lighter;
    margin-bottom: 50px; }
  .hero a {
    color: #ffff;
    padding: 10px;
    font-family: Roboto;
    font-weight: bold;
    letter-spacing: 1px; }
  .hero a:hover {
    text-decoration: none;
    color: #ffff; }
  .hero .hero-btn {
    background-color: #FF4E50;
    padding: 10px;
    border-radius: 20px; }

.partner {
  text-align: center;
  margin: 10vh; }
  .partner .partner-h1, .partner .partner-link {
    grid-column: span 4;
    margin: 15px 0; }
  .partner h1 {
    font-family: Roboto;
    font-weight: bold;
    font-size: 25px; }
  .partner h3 {
    font-family: Roboto;
    font-weight: bold;
    font-size: 18px;
    margin: 15px; }
  .partner p {
    color: #666666; }
  .partner a {
    color: #FF4E50;
    padding: 10px 20px;
    border: 2px solid #FF4E50;
    font-family: Roboto;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 25px; }
  .partner a:hover {
    text-decoration: none;
    color: #FF4E50; }
  .partner img {
    width: 126px;
    height: 126px;
    border-radius: 50%; }
  .partner .svg {
    width: 35px;
    height: 35px;
    position: absolute;
    border-radius: 50%;
    color: white;
    border: 3px solid white;
    transform: translate(-100%, 240%); }
  .partner .music {
    background-color: #FF4E50; }
  .partner .brush {
    background-color: #18D4CA; }
  .partner .camera {
    background-color: #FFA710; }
  .partner .plane {
    background-color: #667DF3; }

.holiday-ideas {
  text-align: center;
  margin: 10vh; }
  .holiday-ideas .culture, .holiday-ideas .beauty {
    width: 620px;
    height: 310px;
    grid-column: span 2; }
  .holiday-ideas .idea-h1 {
    grid-column: span 3; }
  .holiday-ideas h1 {
    font-family: Roboto;
    font-weight: bold;
    font-size: 25px; }
  .holiday-ideas .item {
    width: 300px;
    height: 310px; }
  .holiday-ideas .holiday-idea-items {
    position: relative; }
  .holiday-ideas img {
    width: 100%;
    height: 100%;
    border-radius: 5px; }
  .holiday-ideas .overlay-text {
    position: absolute;
    border-radius: 5px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #00000044;
    color: #ffff;
    transition: all .7s ease-in-out; }
    .holiday-ideas .overlay-text h3 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: Roboto;
      font-weight: bold;
      font-size: 20px;
      width: 100%; }
  .holiday-ideas .overlay-text:hover {
    background-color: rgba(0, 0, 0, 0);
    color: black;
    cursor: pointer; }

.footer {
  margin: 5vh 25vh; }
  .footer .footer-item {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, fr); }
  .footer h3 {
    font-size: 15px; }
  .footer .dreamshare-footer {
    color: #FF4E50;
    font-weight: bold;
    font-family: Roboto;
    text-transform: uppercase; }
  .footer a {
    color: #666666;
    font-family: Montserrat;
    font-size: 12px; }
  .footer a:hover {
    color: #666666; }
  .footer .contact {
    display: block; }
  .footer .view {
    color: #FF4E50; }

.partner {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr); }

.holiday-ideas {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr); }

.footer {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(4, 1fr); }

@media (max-width: 1300px) and (min-width: 1000px) {
  nav ul {
    padding-left: 5vh; }

  .dreamshare-logo {
    margin-right: 0; } }
@media (max-width: 790px) and (min-width: 600px) {
  nav ul {
    padding-left: 7vh; }

  main {
    margin: 10vh 10vh; }

  .partner {
    grid-template-columns: repeat(2, 1fr); }
    .partner .partner-link {
      grid-column: span 2; }
    .partner .partner-h1 {
      grid-column: span 2; }

  .holiday-ideas {
    grid-template-columns: repeat(2, 1fr);
    margin: 17px; }
    .holiday-ideas .idea-h1 {
      grid-column: span 2; }

  .footer {
    grid-template-columns: repeat(2, 1fr); }
    .footer .dreamshare-foot {
      grid-column: span 2; } }

/*# sourceMappingURL=main.css.map */
