// My elements tags are styled here

html {
    scroll-behavior: smooth;
}

body {
    font-family:  Montserrat, Roboto;
}

header {
    height: 100vh;
    background: url(/images/headerBackground.jpg);
    background-size: cover;
}

nav {
    height: 100px;

    ul {
        padding-top: 35px;
        padding-left: 35vh;
        display: inherit;
    }

    li {
        list-style: none;
        display: inline;
        padding: 15px;
    }

    a {
        text-decoration: none;
        color: $white;
    }

    a:hover {
        text-decoration: none;
    }
}

main {
    margin: 10vh 20vh;
}