// My id's and classes are styled here


.dreamshare-logo {
    font-family: Roboto;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1.5px;
}

.drm-logo {
    padding-right: 30vh;;
}

.sign-up {
    border: 1px solid white;
    padding: 7px 7px;
    border-radius: 20px;

    a {
        padding: 10px 12px;
    }
}