// My id's and classes are styled here


.dreamshare-logo {
    font-family: Roboto;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1.5px;
}

.drm-logo {
    padding-right: 30vh;;
}

.sign-up {
    border: 1px solid white;
    padding: 7px 20px;
    border-radius: 20px;

    a {
        padding: 10px 12px;
    }
}

// Hero Text

.hero {
    width: 100%;
    color: $white;
    text-align: center;
    padding-top: 8%;

    h1 {
        text-transform: uppercase;
        font-size: 50px;
        font-weight: bold;
        letter-spacing: 2px;
    }

    p {
        font-size: 22px;
        font-weight: lighter;
        margin-bottom: 50px;

    }

    a {
        color: $white;
        padding: 10px;
        font-family: Roboto;
        font-weight: bold;
        letter-spacing: 1px;
    }

    a:hover {
        text-decoration: none;
        color: $white;
    }

    .hero-btn {
        background-color: $pink; 
        padding: 10px;
        border-radius: 20px;
    }
}

// Meet Your Partner

.partner {
    text-align: center;
    margin: 10vh;

    .partner-h1, .partner-link {
        grid-column: span 4;
        margin: 15px 0;
    }

    h1 {
        font-family: Roboto;
        font-weight: bold;
        font-size: 25px;
    }

    h3 {
        font-family: Roboto;
        font-weight: bold;
        font-size: 18px;
        margin: 15px;
    }

    p {
        color: $grey;
    }

    a {
        color: $pink;
        padding: 10px 20px;
        border: 2px solid $pink;
        font-family: Roboto;
        font-weight: bold;
        letter-spacing: 1px;
        border-radius: 25px;
    }

    a:hover {
        text-decoration: none;
        color: $pink;
    }

    img {
        width: 126px;
        height: 126px;
        border-radius: 50%;
    }

    .svg {
        width: 35px;
        height: 35px;
        position: absolute;
        border-radius: 50%;
        color: white;

        border: 3px solid white;
        transform: translate(-100%,240%);
    }

    .music {
        background-color: $pink;
    }

    .brush {
        background-color: $sky-blue;
    }

    .camera {
        background-color: $orange;
    }

    .plane {
        background-color: $purple;
    }
    
}

// Holiday Ideas

.holiday-ideas {
    text-align: center;
    margin: 10vh;

    .culture, .beauty {
        width: 620px;
        height: 310px;
        grid-column: span 2;
    }

    .idea-h1 {
        grid-column: span 3;
    }


    h1 {
        font-family: Roboto;
        font-weight: bold;
        font-size: 25px;
    }

    .item {
        width: 300px;
        height: 310px;
    }

    .holiday-idea-items {
        position: relative;
    }

    img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }

    .overlay-text {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #00000044;
        color: $white;
        transition: all .7s ease-in-out;

        h3 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            font-family: Roboto;
            font-weight: bold;
            font-size: 20px;
            width: 100%;
        }
    }

    .overlay-text:hover {
        background-color: rgba(0, 0, 0, 0);
        color: black;
        cursor: pointer;
    }

}

// Footer

.footer {
    margin: 5vh 25vh;

    .footer-item {
        margin: 0 auto;

        display: grid;
        grid-template-columns: repeat(1,fr);
    }

    h3 {
        font-size: 15px;
    }

    .dreamshare-footer {
        color: $pink;
        font-weight: bold;
        font-family: Roboto;
        text-transform: uppercase;
    }

    a {
        color: $grey;
        font-family: Montserrat;
        font-size: 12px;
    }

    a:hover {
        color: $grey;
    }

    .contact {
        display: block;
    }

    .view {
        color: $pink;
    }
}