// Responsive Design

@media (max-width: 1300px) and (min-width: 1000px) {

    nav {

        ul {
            padding-left: 5vh;
        }
    }

    .dreamshare-logo {
        margin-right: 0;
    }

}

@media (max-width: 790px) and (min-width: 600px) {


    nav {

        ul {
            padding-left: 7vh;
        }
    }

    main {
        margin: 10vh 10vh;
    }

    .partner {
        grid-template-columns: repeat(2,1fr);

        .partner-link {
            grid-column: span 2 ;
        }
    
        .partner-h1 {
            grid-column: span 2 ;
        }
    }

    .holiday-ideas {
        grid-template-columns: repeat(2,1fr);
        margin: 17px;

        .idea-h1 {
            grid-column: span 2;
        }
    }

}