// My Storage unit for colors and fonts

// Fonts

@font-face {
    font-family: Montserrat;
    src: url(https://fonts.google.com/specimen/Montserrat);
}

@font-face {
    font-family: Roboto;
    src: url(https://fonts.google.com/specimen/Roboto);
}


//  Colors

$pink: #FF4E50;
$green: #18D4CA;
$orange: #FFA710;
$purple: #667DF3;
$dark-grey : #444444;
$grey: #666666;
$white: #ffff;